# Teste do Relatório de Classificação em HTML

Este notebook cria um DataFrame fictício, salva em CSV, importa a função de geração de relatório e executa o relatório HTML para análise de performance do modelo de desligamento voluntário.

In [1]:
import pandas as pd
import numpy as np
import os

In [2]:
np.random.seed(42)
n = 200

df = pd.DataFrame({
    'user_id': np.arange(1, n+1),
    'dt_yearmonth': pd.date_range('2023-01-01', periods=n, freq='MS').strftime('%Y-%m'),
    'idade': np.random.randint(22, 60, n),
    'tempo_empresa': np.random.uniform(0.5, 20, n),
    'flag_previdencia': np.random.randint(0, 2, n),
    'flag_estabilidade': np.random.randint(0, 2, n),
    'flag_promocao_merito_engaj_ult_12m': np.random.randint(0, 2, n),
    'nota_performance_ult_ano': np.random.randint(1, 6, n),
    'nota_performance_perfil_ano': np.random.randint(1, 6, n),
    'qtd_horas_extras_pagas_ma12': np.random.uniform(0, 100, n),
    'qtd_horas_extras_pagas_ma3': np.random.uniform(0, 30, n),
    'qtd_sobrecarga_pago_ma12': np.random.uniform(0, 50, n),
    'qtd_sobrecarga_pago_ma3': np.random.uniform(0, 15, n),
    'estado_residencia': np.random.choice(['SP','RJ','MG','RS'], n),
    'estado_civil': np.random.choice(['Solteiro','Casado','Divorciado'], n),
    'subgrupo_piramide_atual': np.random.choice(['A','B','C'], n),
    'estado_civil_alteracao_ult_12m': np.random.choice(['Sim','Não'], n),
    'flag_desligamento_voluntario': np.random.randint(0, 2, n),
    'flag_pool': np.random.randint(0, 2, n),
    'pred_flag_desligamento_voluntario': np.random.randint(0, 2, n)
})
df.head()

,user_id,dt_yearmonth,idade,tempo_empresa,flag_previdencia,flag_estabilidade,flag_promocao_merito_engaj_ult_12m,nota_performance_ult_ano,nota_performance_perfil_ano,qtd_horas_extras_pagas_ma12,qtd_horas_extras_pagas_ma3,qtd_sobrecarga_pago_ma12,qtd_sobrecarga_pago_ma3,estado_residencia,estado_civil,subgrupo_piramide_atual,estado_civil_alteracao_ult_12m,flag_desligamento_voluntario,flag_pool,pred_flag_desligamento_voluntario
0,1,2023-01,50,8.252654,1,1,1,2,1,10.309375,2.240833,22.438879,9.048291,RS,Solteiro,B,Não,0,0,1
1,2,2023-02,36,10.596151,1,0,1,4,5,31.459656,25.572440,33.469520,5.058407,SP,Casado,A,Sim,1,1,1
2,3,2023-03,29,16.835347,1,0,0,4,3,80.743025,29.704451,7.287828,13.582872,RS,Solteiro,A,Não,1,0,0
3,4,2023-04,42,13.675957,1,1,1,3,2,96.209879,20.281568,22.471692,11.589341,SP,Casado,C,Não,1,1,0
4,5,2023-05,40,14.836714,0,0,0,4,4,79.001356,13.378749,29.394219,3.973432,MG,Divorciado,C,Não,1,1,1

In [3]:
df.to_csv('df_ficticio.csv', index=False)
print('Arquivo df_ficticio.csv salvo!')

Arquivo df_ficticio.csv salvo!

In [4]:
from generate_model_report import generate_model_report

In [5]:
df_loaded = pd.read_csv('df_ficticio.csv')
df_loaded.head()

,user_id,dt_yearmonth,idade,tempo_empresa,flag_previdencia,flag_estabilidade,flag_promocao_merito_engaj_ult_12m,nota_performance_ult_ano,nota_performance_perfil_ano,qtd_horas_extras_pagas_ma12,qtd_horas_extras_pagas_ma3,qtd_sobrecarga_pago_ma12,qtd_sobrecarga_pago_ma3,estado_residencia,estado_civil,subgrupo_piramide_atual,estado_civil_alteracao_ult_12m,flag_desligamento_voluntario,flag_pool,pred_flag_desligamento_voluntario
0,1,2023-01,50,8.252654,1,1,1,2,1,10.309375,2.240833,22.438879,9.048291,RS,Solteiro,B,Não,0,0,1
1,2,2023-02,36,10.596151,1,0,1,4,5,31.459656,25.572440,33.469520,5.058407,SP,Casado,A,Sim,1,1,1
2,3,2023-03,29,16.835347,1,0,0,4,3,80.743025,29.704451,7.287828,13.582872,RS,Solteiro,A,Não,1,0,0
3,4,2023-04,42,13.675957,1,1,1,3,2,96.209879,20.281568,22.471692,11.589341,SP,Casado,C,Não,1,1,0
4,5,2023-05,40,14.836714,0,0,0,4,4,79.001356,13.378749,29.394219,3.973432,MG,Divorciado,C,Não,1,1,1

In [6]:
generate_model_report(df_loaded, output_html='relatorio_teste.html')
print('Relatório HTML gerado: relatorio_teste.html')

Relatório salvo em: relatorio_teste.html
Relatório HTML gerado: relatorio_teste.html